            button{
                background-color:  rgba(137, 43, 226, 0.751);
                color: white;
            }

            #parent{
              border: 2px solid blueviolet;
              border-radius: 40px;
             height: fit-content;
             width: 700px;
              margin-top: 50px;
              margin-left: 500px;
           
            

            }

            #thead{
              border-bottom: 2px solid rgba(137, 43, 226, 0.751);  /* used this to create the underline effect */
              display: inline-block; /* used this to make sure the underline falls below the text to make it centred*/
              width: 650px;   /* used this determine how wide my underline effect will be*/
              text-align: center;
              margin-left: 25px;
              margin-top: 20px;
            }


            #thead h2{
              color:rgba(137, 43, 226, 0.751) ;
            }

            #intro{
              margin-top: 20px;
              margin-left: 10px;
            }


            #intro span{
              font-weight: bold;
            }


            #earn{
               margin-top: 20px;
               margin-left: 10px;
               margin-right: 10px;
            }

               #deductions{
               margin-top: 20px;
               margin-left: 10px;
               margin-right: 10px;
            }


              .netpay {
                  text-align: right;
                  font-size: 20px;
                  font-weight: bold;
                   color: rgba(137, 43, 226, 0.751);
                   margin-right: 15px;
    }
